<div class="flex flex-col">
  <% if flash[:success] %>
    <div class="alert alert-success mb-2"><%= flash[:success] %></div>
  <% end %>

  <h1>Categories</h1>
  <%= link_to "New category", new_category_path, class: "btn btn-primary mb-5" %>
  
  <div class="flex flex-col gap-2">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
  
</div>
